# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Django
*.log
staticfiles/
media/

# Alembic
alembic.ini.bak

# OS
.DS_Store
Thumbs.db
